* {
  margin: 3px;
  color: rgb(44, 44, 44);
}

@keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpngimg.com%2Fuploads%2Fcoronavirus%2Fcoronavirus_PNG46.png&f=1&nofb=1),
    linear-gradient(rgb(20, 20, 20), rgb(60, 0, 0));
  opacity: 0.99;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: both;
}

.test {
  display: flex;
  height: 88%;
  border-radius: 5px;
}

.image-1 {
  margin-left: 10px;
  width: 5%;
  height: 5%;
}

.App {
  height: 98vh;
  width: 100%;
}

.App__header {
  animation-name: slideInHeader;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: both;
  padding: 10px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
}

.App__dropdown {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  background: rgb(247, 247, 247);
  background: linear-gradient(
    270deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@keyframes slideInHeader {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}

.App__stats_header {
  width: 100%;
  border-radius: 2px;
}

.App__side_left {
  height: 99%;
  display: flex;
  flex-direction: column;
  flex: 0.7;
  border-radius: 5px;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
}

.App__side_right {
  flex: 0.3;
  height: 99%;
  border-radius: 5px;
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.57);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
}

.App__side_right_card {
  height: 99%;
}

.App__stats {
  display: flex;
  justify-content: space-between;
}

.App__mapstats {
  border-radius: 20px;
  height: 100%;
}

@media (max-width: 800px) {
  .test {
    display: flex;
    flex-direction: column;
  }
  .App__stats {
    display: flex;
    flex-direction: column;
  }
  .App__header {
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .App__stats {
    height: 100%;
  }
  .App__side_left {
    height: 900px;
  }
  .App__side_right {
    height: 85vh;
  }
}
